.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.card .content {
    padding: 16px;
}

h1 {
    background: #4b0a0e;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    color: white;
}

.card p {
    font-size: 16px;
    color: #666;
}